.pichai-kinney{
    width: 100%;
    top: 0%;
    left: 0%;
    font-family: 'Noto Sans Display', sans-serif;
}

.pichai-hero-content{
    display: flex;
    height: 30vh;
    margin-bottom: 3%;
    justify-content: center;
    align-items: flex-end;
    
}
.pichai-quote{
    font-family: 'Noto Sans', sans-serif;
    color: antiquewhite;
    font-size: 40px;
    animation: floatAnimation 5s ease-in-out infinite;
}
.pichai-hero-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pichai-hero-section{
    background: url('./rainbow-vortex.svg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pichai-hero-pic{
    width: 15%;
    border-radius: 40%;
}
.pichai-hero-name{
    font-size: 60px;
    padding-left: 5px;
    font-weight: 30px;
    color: antiquewhite;
}

.pichai-books{
    width: 13%;
}
.pichai-books-img{
    border-radius: 20px;
}
.pichai-books img{
    width: 100%;
}

.pichai-content {
    background-image: url('../../assets/background.webp');
    background-size: cover;
    margin-bottom: -20px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; 
}

.pichai-para-1{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}
.pichai-para-1-content{
    width: 40%;
}
.pichai-para-1-content-h{
    font-size: 25px;
}
.pichai-para-1-content-p{
    font-size: 20px;
}
.pichai-para-1-content-img{
    height: fit-content;
    width: 30%;
    border-radius: 20px;
}


.pichai-para-2{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.pichai-para-2-content{
    width: 40%;
}
.pichai-para-2-content-h{
    font-size: 25px;
}
.pichai-para-2-content-p{
    font-size: 20px;
}
.pichai-para-2-content-img{
    height: fit-content;
    width: 20%;
    border-radius: 20px;
}
.pichai-para-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.pichai-para-3-content{
    width: 60%;
}
.pichai-para-3-content-h{
    font-size: 25px;
}
.pichai-para-3-content-p{
    font-size: 20px;
}
.pichai-para-3-content-img{
    width: 15%;
    height: fit-content;
    border-radius: 20px;
    animation: pulse 2s ease-in-out infinite;
}


@keyframes floatAnimation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 950px) {
    .pichai-hero-label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pichai-hero-name{
        font-size: 40px;

    }
    .pichai-para-1{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .pichai-para-2{
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    .pichai-para-3{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .pichai-para-1-content{
        width: 70%;
    }
    .pichai-para-2-content{
        width: 70%;
        
    }
    .pichai-para-2-content-img{
        width: 70%;
        padding-top: 10px;
    }
    .pichai-para-3-content{
        width: 70%;
    }
    .pichai-para-3-content-img{
        margin-top: 15px;
    }
    .pichai-para-1-content-img{
        margin-top: 20px;
        width: 70%;
    }
}


@media (max-width: 600px) {
    .pichai-hero-pic{
        width: 20%;
    }
    .pichai-quote{
        font-size: 25px;
        text-align: center;
        padding: 5px;
    }
    .pichai-hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .pichai-hero-name{
        font-size: 25px;
    }
    .pichai-para-1-content-img{
        width: 65%;
    }
    .pichai-para-2-content-img{
        width: 50%;
    }
    .pichai-para-3-content-img{
        width: 50%;
    }
    .pichai-para-4-content-img{
        width: 50%;
    }
    .pichai-para-3-content-h{
        font-size: 20px;
    }
    .pichai-para-3-content-p{
        font-size: 15px;
        padding-top: 5px;
    }
    .pichai-para-3-content{
        width: 90%;
    }
    .pichai-para-2-content-h{
        font-size: 20px;
    }
    .pichai-para-2-content-p{
        font-size: 15px;
        
        padding-top: 5px;
    }
    .pichai-para-2-content{
        width: 90%;
    }
    .pichai-para-1-content-h{
        font-size: 20px;
    }
    .pichai-para-1-content-p{
        font-size: 15px;
        
        padding-top: 5px;
    }
    .pichai-para-1-content{
        width: 90%;
    }
    .pichai-para-4-content-h{
        font-size: 20px;
    }
    .pichai-para-4-content-p{
        font-size: 15px;
        
        padding-top: 5px;
    }
    .pichai-para-4-content{
        width: 90%;
    }
}