.jobs-kinney{
    width: 100%;
    top: 0%;
    left: 0%;
    font-family: 'EB Garamond', serif;
}

.jobs-hero-content{
    display: flex;
    height: 30vh;
    margin-bottom: 3%;
    justify-content: center;
    align-items: flex-end;
    
}
.jobs-quote{
    font-family: 'Dancing Script', cursive;
    color: antiquewhite;
    font-size: 40px;
    animation: floatAnimation 5s ease-in-out infinite;
}
.jobs-hero-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jobs-hero-section{
    background: url('./abstract-timekeeper.svg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

.jobs-hero-pic{
    width: 15%;
    border-radius: 40%;
}
.jobs-hero-name{
    font-size: 80px;
    font-weight: 30px;
    color: antiquewhite;
}

.jobs-books{
    width: 13%;
}
.jobs-books-img{
    border-radius: 20px;
}
.jobs-books img{
    width: 100%;
}

.jobs-content {
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; 
}

.jobs-para-1{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}
.jobs-para-1-content{
    width: 40%;
}
.jobs-para-1-content-h{
    font-size: 25px;
}
.jobs-para-1-content-p{
    font-size: 20px;
}
.jobs-para-1-content-img{
    animation: floatAnimation 3s ease-in-out infinite;
    height: fit-content;
    width: 30%;
    border-radius: 20px;
}


.jobs-para-2{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.jobs-para-2-content{
    width: 40%;
}
.jobs-para-2-content-h{
    font-size: 25px;
}
.jobs-para-2-content-p{
    font-size: 20px;
}
.jobs-para-2-content-img{
    height: fit-content;
    width: 20%;
    border-radius: 20px;
}
.jobs-para-3{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.jobs-para-3-content{
    width: 40%;
}
.jobs-para-3-content-h{
    font-size: 25px;
}
.jobs-para-3-content-p{
    font-size: 20px;
}
.jobs-para-3-content-img{
    width: 30%;
    height: fit-content;
    border-radius: 20px;
}
.jobs-para-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.jobs-para-4-content{
    width: 80%;
}
.jobs-para-4-content-h{
    font-size: 25px;
}
.jobs-para-4-content-p{
    font-size: 20px;
}
.jobs-para-4-content-img{
    width: 20%;
    height: fit-content;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes floatAnimation {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 950px) {
    .jobs-hero-label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .jobs-hero-name{
        font-size: 40px;

    }
    .jobs-para-1{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .jobs-para-2{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .jobs-para-3{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .jobs-para-1-content{
        width: 70%;
    }
    .jobs-para-2-content{
        width: 70%;
    }
    .jobs-para-3-content{
        width: 70%;
    }
    .jobs-para-3-content-img{
        margin-top: 15px;
    }
    .jobs-para-1-content-img{
        margin-top: 20px;
    }
}


@media (max-width: 600px) {
    .jobs-hero-pic{
        width: 20%;
    }
    .jobs-quote{
        font-size: 25px;
        text-align: center;
        padding: 5px;
    }
    .jobs-hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .jobs-hero-name{
        font-size: 25px;
    }
    .jobs-para-1-content-img{
        width: 65%;
    }
    .jobs-para-2-content-img{
        width: 40%;
    }
    .jobs-para-3-content-img{
        width: 65%;
    }
    .jobs-para-4-content-img{
        width: 50%;
    }
    .jobs-para-3-content-h{
        font-size: 20px;
    }
    .jobs-para-3-content-p{
        font-size: 15px;
        padding-top: 5px;
    }
    .jobs-para-3-content{
        width: 90%;
    }
    .jobs-para-2-content-h{
        font-size: 20px;
    }
    .jobs-para-2-content-p{
        font-size: 15px;
        
        padding-top: 5px;
    }
    .jobs-para-2-content{
        width: 90%;
    }
    .jobs-para-1-content-h{
        font-size: 20px;
    }
    .jobs-para-1-content-p{
        font-size: 15px;
        
        padding-top: 5px;
    }
    .jobs-para-1-content{
        width: 90%;
    }
    .jobs-para-4-content-h{
        font-size: 20px;
    }
    .jobs-para-4-content-p{
        font-size: 15px;
        
        padding-top: 5px;
    }
    .jobs-para-4-content{
        width: 90%;
    }
}